<!doctype html>
<html lang="nl-NL">
<head>
    <title>Is dit een grap?</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="root">
        <h3>Is dit een grap?</h3>
        <% if (yes) { %>
            <span class="result yes">Ja</span>
        <% } else { %>
            <span class="result no">Nee</span>
        <% } %>
    </div>
</body>
</html>
